<div class="pt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Picture</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Gearbox</th>
                <th scope="col">Fuel</th>
                <th scope="col">Deposit</th>
                <th scope="col">Daily Rate</th>
                <th scope="col">Min B. Age</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>